/***/
.theme-color-e8676b a,
.theme-color-e8676b blockquote:before,			
.theme-color-e8676b .contact-map .contact-info a:hover,
.theme-color-e8676b .interests-list i,
.theme-color-e8676b .input-field.used label,
.theme-color-e8676b .logo span,
.theme-color-e8676b #map .map-icon,
.theme-color-e8676b .head-cont .btn-mobile,
.theme-color-e8676b .page-404 h2 span,
.theme-color-e8676b .post-box .post-title a:hover,
.theme-color-e8676b .post-single .post-title a:hover,
.theme-color-e8676b .post-pagination .post-title a:hover,
.theme-color-e8676b .post-comments .section-title,
.theme-color-e8676b .ref-box .person-speech:before,			
.theme-color-e8676b .service-icon,
.theme-color-e8676b .statistic-value,
.theme-color-e8676b .service-sub-title,			
.theme-color-e8676b .styled-list li:before,			
.theme-color-e8676b .timeline-box .date,			
.theme-color-e8676b .twitter-icon .rsicon,			
.theme-color-e8676b .tabs-vertical .tabs-menu a:hover,			
.theme-color-e8676b .tabs-vertical .tabs-menu .active a,			
.theme-color-e8676b .widget-title,
.theme-color-e8676b .widget_search label:before,
.theme-color-e8676b .widget_search .search-form:before,
.theme-color-e8676b .widget_meta ul li a:hover,
.theme-color-e8676b .widget_archive ul li a:hover,
.theme-color-e8676b .widget_nav_menu ul li a:hover,
.theme-color-e8676b .widget_categories ul li a:hover,
.theme-color-e8676b .widget_recent_entries ul li a:hover,
.theme-color-e8676b .widget_recent_comments ul li a:hover,
.theme-color-e8676b .widget-popuplar-posts .post-title a:hover,
.theme-color-e8676b .widget-recent-posts .post-title a:hover,
.theme-color-e8676b .head-woo-count {
  color: #e8676b; }
  
.theme-color-e8676b .head-nav .sub-menu li:hover>a,
.theme-color-e8676b .head-nav .sub-menu li.active,
.theme-color-e8676b .head-lang .lang-list a:hover{
  color: #e8676b !important;
}
			
.theme-color-e8676b mark,
.theme-color-e8676b .btn-primary,
.theme-color-e8676b .btn-primary-outer,
.theme-color-e8676b .btn-sidebar-close,
.theme-color-e8676b .calendar-today .date,
.theme-color-e8676b .calendar-body .busy-day,
.theme-color-e8676b .calendar-body td .current-day,
.theme-color-e8676b .filter .active:after,
.theme-color-e8676b .filter-bar .filter-bar-line,
.theme-color-e8676b .input-field .line:before,
.theme-color-e8676b .input-field .line:after,
.theme-color-e8676b .mobile-nav,
.theme-color-e8676b .head-nav .nav>ul>li>a:after,
.theme-color-e8676b .post-datetime,
.theme-color-e8676b .profile-social,
.theme-color-e8676b .profile-preword span,
.theme-color-e8676b .progress-bar .bar-fill,
.theme-color-e8676b .progress-bar .bar-line:after,
.theme-color-e8676b .price-box.box-primary .btn,
.theme-color-e8676b .price-box.box-primary .price-box-top,
.theme-color-e8676b .profile-list .button,

.theme-color-e8676b .pagination span.page-numbers.current,
.theme-color-e8676b .pagination a.page-numbers:active,

.theme-color-e8676b .latest-tweets .slick-dots button:hover,
.theme-color-e8676b .latest-tweets .slick-dots .slick-active button,
			
.theme-color-e8676b .tabs-horizontal .tabs-menu a:hover:after,
.theme-color-e8676b .tabs-horizontal .tabs-menu .active a:after,
.theme-color-e8676b .togglebox-header,
.theme-color-e8676b .accordion-header,
.theme-color-e8676b .timeline-bar,
.theme-color-e8676b .timeline-box .dot,
.theme-color-e8676b .timeline-box-compact .date span,
.theme-color-e8676b .widget_tag_cloud a:hover,
.theme-color-e8676b .widget_product_tag_cloud a:hover,
.theme-color-e8676b .wpcf7-form .wpcf7-submit {
  background-color: #e8676b; }
  
.theme-color-e8676b .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.theme-color-e8676b .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #e8676b; }
  
.theme-color-e8676b .timeline-box-inner,
.theme-color-e8676b .price-box.box-primary .btn,
.theme-color-e8676b .widget_search .search-form,
.theme-color-e8676b .widget_product_search .search-form,
.theme-color-e8676b .widget_tag_cloud a:hover,
.theme-color-e8676b .widget_product_tag_cloud a:hover,
.theme-color-e8676b .wpcf7-form .wpcf7-form-control:focus {
  border-color: #e8676b; }
  
.theme-color-e8676b .page-404 h2 span:before,
.theme-color-e8676b .profile-preword span:before,
.theme-color-e8676b .timeline-box-compact .date span:before {
  border-left-color: #e8676b; }
  
.theme-color-e8676b .price-box.box-primary .price-box-top:before {
  border-top-color: #e8676b; }";
			
.theme-color-e8676b .woocommerce .star-rating,
.theme-color-e8676b .woocommerce .star-rating:before,
.theme-color-e8676b .woocommerce .product-links .button,
.theme-color-e8676b .woocommerce .product-links .button:hover,
.theme-color-e8676b .woocommerce div.product p.price,
.theme-color-e8676b .woocommerce div.product span.price,
.theme-color-e8676b .widget_product_search .woocommerce-product-search:before {
	color: #e8676b;
}

.theme-color-e8676b .woocommerce span.onsale,
.theme-color-e8676b .woocommerce #respond input#submit.alt,
.theme-color-e8676b .woocommerce a.button.alt,
.theme-color-e8676b .woocommerce button.button.alt,
.theme-color-e8676b .woocommerce input.button.alt,
.theme-color-e8676b .woocommerce div.product .woocommerce-tabs ul.tabs li a:hover:after,
.theme-color-e8676b .woocommerce div.product .woocommerce-tabs ul.tabs li.active a:after {
	background-color: #e8676b;
}

.theme-color-e8676b .woocommerce span.onsale:before {
	border-left-color: #e8676b;
}

.theme-color-e8676b .widget_product_search .woocommerce-product-search {
	border-color: #e8676b;
}	


/***/
.theme-color-ec407a a,
.theme-color-ec407a blockquote:before,			
.theme-color-ec407a .contact-map .contact-info a:hover,
.theme-color-ec407a .interests-list i,
.theme-color-ec407a .input-field.used label,
.theme-color-ec407a .logo span,
.theme-color-ec407a #map .map-icon,
.theme-color-ec407a .head-cont .btn-mobile,
.theme-color-ec407a .page-404 h2 span,
.theme-color-ec407a .post-box .post-title a:hover,
.theme-color-ec407a .post-single .post-title a:hover,
.theme-color-ec407a .post-pagination .post-title a:hover,
.theme-color-ec407a .post-comments .section-title,
.theme-color-ec407a .ref-box .person-speech:before,			
.theme-color-ec407a .service-icon,
.theme-color-ec407a .statistic-value,
.theme-color-ec407a .service-sub-title,			
.theme-color-ec407a .styled-list li:before,			
.theme-color-ec407a .timeline-box .date,			
.theme-color-ec407a .twitter-icon .rsicon,			
.theme-color-ec407a .tabs-vertical .tabs-menu a:hover,			
.theme-color-ec407a .tabs-vertical .tabs-menu .active a,			
.theme-color-ec407a .widget-title,
.theme-color-ec407a .widget_search label:before,
.theme-color-ec407a .widget_search .search-form:before,
.theme-color-ec407a .widget_meta ul li a:hover,
.theme-color-ec407a .widget_archive ul li a:hover,
.theme-color-ec407a .widget_nav_menu ul li a:hover,
.theme-color-ec407a .widget_categories ul li a:hover,
.theme-color-ec407a .widget_recent_entries ul li a:hover,
.theme-color-ec407a .widget_recent_comments ul li a:hover,
.theme-color-ec407a .widget-popuplar-posts .post-title a:hover,
.theme-color-ec407a .widget-recent-posts .post-title a:hover,
.theme-color-ec407a .head-woo-count {
  color: #ec407a; }
  
.theme-color-ec407a .head-nav .sub-menu li:hover>a,
.theme-color-ec407a .head-nav .sub-menu li.active,
.theme-color-ec407a .head-lang .lang-list a:hover{
  color: #ec407a !important;
}
			
.theme-color-ec407a mark,
.theme-color-ec407a .btn-primary,
.theme-color-ec407a .btn-primary-outer,
.theme-color-ec407a .btn-sidebar-close,
.theme-color-ec407a .calendar-today .date,
.theme-color-ec407a .calendar-body .busy-day,
.theme-color-ec407a .calendar-body td .current-day,
.theme-color-ec407a .filter .active:after,
.theme-color-ec407a .filter-bar .filter-bar-line,
.theme-color-ec407a .input-field .line:before,
.theme-color-ec407a .input-field .line:after,
.theme-color-ec407a .mobile-nav,
.theme-color-ec407a .head-nav .nav>ul>li>a:after,
.theme-color-ec407a .post-datetime,
.theme-color-ec407a .profile-social,
.theme-color-ec407a .profile-preword span,
.theme-color-ec407a .progress-bar .bar-fill,
.theme-color-ec407a .progress-bar .bar-line:after,
.theme-color-ec407a .price-box.box-primary .btn,
.theme-color-ec407a .price-box.box-primary .price-box-top,
.theme-color-ec407a .profile-list .button,

.theme-color-ec407a .pagination span.page-numbers.current,
.theme-color-ec407a .pagination a.page-numbers:active,

.theme-color-ec407a .latest-tweets .slick-dots button:hover,
.theme-color-ec407a .latest-tweets .slick-dots .slick-active button,
			
.theme-color-ec407a .tabs-horizontal .tabs-menu a:hover:after,
.theme-color-ec407a .tabs-horizontal .tabs-menu .active a:after,
.theme-color-ec407a .togglebox-header,
.theme-color-ec407a .accordion-header,
.theme-color-ec407a .timeline-bar,
.theme-color-ec407a .timeline-box .dot,
.theme-color-ec407a .timeline-box-compact .date span,
.theme-color-ec407a .widget_tag_cloud a:hover,
.theme-color-ec407a .widget_product_tag_cloud a:hover,
.theme-color-ec407a .wpcf7-form .wpcf7-submit {
  background-color: #ec407a; }
  
.theme-color-ec407a .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.theme-color-ec407a .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #ec407a; }
  
.theme-color-ec407a .timeline-box-inner,
.theme-color-ec407a .price-box.box-primary .btn,
.theme-color-ec407a .widget_search .search-form,
.theme-color-ec407a .widget_product_search .search-form,
.theme-color-ec407a .widget_tag_cloud a:hover,
.theme-color-ec407a .widget_product_tag_cloud a:hover,
.theme-color-ec407a .wpcf7-form .wpcf7-form-control:focus {
  border-color: #ec407a; }
  
.theme-color-ec407a .page-404 h2 span:before,
.theme-color-ec407a .profile-preword span:before,
.theme-color-ec407a .timeline-box-compact .date span:before {
  border-left-color: #ec407a; }
 